@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #0e2d61 50%, #14336a 100%);
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


nav {
  background-color: #fff;
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
  overflow: hidden;
}

nav.active {
  width: 370px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
  overflow: hidden;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

nav.active ul li {
  opacity: 1;
  transform: translateY(0);
}

nav ul li a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  font-size: 18px;
}

.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: #3e6fcb;
  height: 2px;
  width: 20px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  bottom: 10px;
  top: auto;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
